<%= include('includes/top.tmpl') %>
    <% jihadiType='dead' %>
    <div class="main">
    	<!--<p style="color: white; position: absolute; margin: 1em;">iFS 1.4</p>
        <div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/320/testcard.jpg" data-width="320" style="width: 100%;"></div>-->
        <%= include('facewall/facewall.tmpl') %>
        <!--<div class="tempShareToolsHolder"></div>-->
    </div>

<%= include('includes/bottom.tmpl') %>