<%= include('includes/top.tmpl') %>
    <% jihadiType='dead' %>
    <div class="main">
        <%= include('facewall/facewall.tmpl') %>
        <!--<div class="tempShareToolsHolder"></div>-->
    </div>

<%= include('includes/bottom.tmpl') %>