<fieldset class="ns_filter__control ns_filter__control--hometown">
    <legend>By home town</legend>
    <% if (jihadiType === 'dead') { %>
    <div>
        <label for="ns_facewall__input--hometown-aberdeen">Aberdeen</label>
        <input id="ns_facewall__input--hometown-aberdeen" class="ns_facewall__input ns_facewall__input--hometown-aberdeen" value="hometown-aberdeen" type="checkbox" />
    </div>
    <% } %>
    <% if (jihadiType === 'alive') { %>
        <div>
            <label for="ns_facewall__input--hometown-birmingham">Birmingham</label>
            <input id="ns_facewall__input--hometown-birmingham" class="ns_facewall__input ns_facewall__input--hometown-birmingham" value="hometown-birmingham" type="checkbox" />
        </div>
        <div>
            <label for="ns_facewall__input--hometown-bradford">Bradford</label>
            <input id="ns_facewall__input--hometown-bradford" class="ns_facewall__input ns_facewall__input--hometown-bradford" value="hometown-bradford" type="checkbox" />
        </div>
        <div>
            <label for="ns_facewall__input--hometown-bristol">Bristol</label>
            <input id="ns_facewall__input--hometown-bristol" class="ns_facewall__input ns_facewall__input--hometown-bristol" value="hometown-bristol" type="checkbox" />
        </div>
    <% } %>
    <div>
        <label for="ns_facewall__input--hometown-brighton">Brighton</label>
        <input id="ns_facewall__input--hometown-brighton" class="ns_facewall__input ns_facewall__input--hometown-brighton" value="hometown-brighton" type="checkbox" />
    </div>
    <% if (jihadiType === 'alive') { %>
        <div>
            <label for="ns_facewall__input--hometown-cardiff">Cardiff</label>
            <input id="ns_facewall__input--hometown-cardiff" class="ns_facewall__input ns_facewall__input--hometown-cardiff" value="hometown-cardiff" type="checkbox" />
        </div>
        <div>
            <label for="ns_facewall__input--hometown-chatham">Chatham</label>
            <input id="ns_facewall__input--hometown-chatham" class="ns_facewall__input ns_facewall__input--hometown-chatham" value="hometown-chatham" type="checkbox" />
        </div>
    <% } %>
    <div>
        <label for="ns_facewall__input--hometown-coventry">Coventry</label>
        <input id="ns_facewall__input--hometown-coventry" class="ns_facewall__input ns_facewall__input--hometown-coventry" value="hometown-coventry" type="checkbox" />
    </div>
    <% if (jihadiType === 'dead') { %>
        <div>
            <label for="ns_facewall__input--hometown-crawley">Crawley</label>
            <input id="ns_facewall__input--hometown-crawley" class="ns_facewall__input ns_facewall__input--hometown-crawley" value="hometown-crawley" type="checkbox" />
        </div>
        <div>
            <label for="ns_facewall__input--hometown-derby">Derby</label>
            <input id="ns_facewall__input--hometown-derby" class="ns_facewall__input ns_facewall__input--hometown-derby" value="hometown-derby" type="checkbox" />
        </div>
    <% } %>
    <% if (jihadiType === 'alive') { %>
        <div>
            <label for="ns_facewall__input--hometown-dewsbury">Dewsbury</label>
            <input id="ns_facewall__input--hometown-dewsbury" class="ns_facewall__input ns_facewall__input--hometown-dewsbury" value="hometown-dewsbury" type="checkbox" />
        </div>
        <div>
            <label for="ns_facewall__input--hometown-dudley">Dudley</label>
            <input id="ns_facewall__input--hometown-dudley" class="ns_facewall__input ns_facewall__input--hometown-dudley" value="hometown-dudley" type="checkbox" />
        </div>
        <div>
            <label for="ns_facewall__input--hometown-glasgow">Glasgow</label>
            <input id="ns_facewall__input--hometown-glasgow" class="ns_facewall__input ns_facewall__input--hometown-glasgow" value="hometown-glasgow" type="checkbox" />
        </div>
        <div>
            <label for="ns_facewall__input--hometown-high-wycombe">High Wycombe</label>
            <input id="ns_facewall__input--hometown-high-wycombe" class="ns_facewall__input ns_facewall__input--hometown-high-wycombe" value="hometown-high-wycombe" type="checkbox" />
        </div>
    <% } %>
    <div>
        <label for="ns_facewall__input--hometown-london">London</label>
        <input id="ns_facewall__input--hometown-london" class="ns_facewall__input ns_facewall__input--hometown-london" value="hometown-london" type="checkbox" />
    </div>
    <% if (jihadiType === 'alive') { %>
        <div>
            <label for="ns_facewall__input--hometown-luton">Luton</label>
            <input id="ns_facewall__input--hometown-luton" class="ns_facewall__input ns_facewall__input--hometown-luton" value="hometown-luton" type="checkbox" />
        </div>
    <% } %>
    <div>
        <label for="ns_facewall__input--hometown-manchester">Manchester</label>
        <input id="ns_facewall__input--hometown-manchester" class="ns_facewall__input ns_facewall__input--hometown-manchester" value="hometown-manchester" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--hometown-portsmouth">Portsmouth</label>
        <input id="ns_facewall__input--hometown-portsmouth" class="ns_facewall__input ns_facewall__input--hometown-portsmouth" value="hometown-portsmouth" type="checkbox" />
    </div>
    <% if (jihadiType === 'dead') { %>
    <div>
        <label for="ns_facewall__input--hometown-west-yorkshire">West Yorkshire</label>
        <input id="ns_facewall__input--hometown-west-yorkshire" class="ns_facewall__input ns_facewall__input--hometown-west-yorkshire" value="hometown-west-yorkshire" type="checkbox" />
    </div>
    <% } %>
    <% if (jihadiType === 'alive') { %>
        <div>
            <label for="ns_facewall__input--hometown-liverpool">Liverpool</label>
            <input id="ns_facewall__input--hometown-liverpool" class="ns_facewall__input ns_facewall__input--hometown-liverpool" value="hometown-liverpool" type="checkbox" />
        </div>
        <div>
            <label for="ns_facewall__input--hometown-leicester">Leicester</label>
            <input id="ns_facewall__input--hometown-leicester" class="ns_facewall__input ns_facewall__input--hometown-leicester" value="hometown-leicester" type="checkbox" />
        </div>
        <div>
            <label for="ns_facewall__input--hometown-middlesbrough">Middlesbrough</label>
            <input id="ns_facewall__input--hometown-middlesbrough" class="ns_facewall__input ns_facewall__input--hometown-middlesbrough" value="hometown-middlesbrough" type="checkbox" />
        </div>
    <% } %>
    <% if (jihadiType === 'convicted') { %>
    <div>
        <label for="ns_facewall__input--hometown-sunderland">Sunderland</label>
        <input id="ns_facewall__input--hometown-sunderland" class="ns_facewall__input ns_facewall__input--hometown-sunderland" value="hometown-sunderland" type="checkbox" />
    </div>
    <% } %>
    <div>
        <label for="ns_facewall__input--hometown-unknown">Unknown</label>
        <input id="ns_facewall__input--hometown-unknown" class="ns_facewall__input ns_facewall__input--hometown-unknown" value="hometown-unknown" type="checkbox" />
    </div>
</fieldset>