<fieldset class="ns_filter__control ns_filter__control--offence">
    <legend>By offence</legend>
    <div>
        <label for="ns_facewall__input--offence-preparing-for-acts-of-terrorism">Preparing for acts of terrorism</label>
        <input class="ns_facewall__input ns_facewall__input--offence-preparing-for-acts-of-terrorism" value="offence-preparing-for-acts-of-terrorism" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-promoting-and-inciting-terrorism">Promoting and inciting terrorism</label>
        <input class="ns_facewall__input ns_facewall__input--offence-promoting-and-inciting-terrorism" value="offence-promoting-and-inciting-terrorism" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-assisting-an-offender">Assisting an offender</label>
        <input class="ns_facewall__input ns_facewall__input--offence-assisting-an-offender" value="offence-assisting-an-offender" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-funding-terrorism">Funding terrorism</label>
        <input class="ns_facewall__input ns_facewall__input--offence-funding-terrorism" value="offence-funding-terrorism" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-attending-a-camp">Attending a camp</label>
        <input class="ns_facewall__input ns_facewall__input--offence-attending-a-camp" value="offence-attending-a-camp" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-receiving-training-and-possessing-firearms">Receiving training and possessing firearms</label>
        <input class="ns_facewall__input ns_facewall__input--offence-receiving-training-and-possessing-firearms" value="offence-receiving-training-and-possessing-firearms" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-conspiracy-to-attend-terrorism-training-camp">Conspiracy to attend terrorism training camp</label>
        <input class="ns_facewall__input ns_facewall__input--offence-conspiracy-to-attend-terrorism-training-camp" value="offence-conspiracy-to-attend-terrorism-training-camp" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-encouraging-terrorism">Encouraging terrorism</label>
        <input class="ns_facewall__input ns_facewall__input--offence-encouraging-terrorism" value="offence-encouraging-terrorism" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-disseminating-a-terrorist-publication">Disseminating a terrorist publication</label>
        <input class="ns_facewall__input ns_facewall__input--offence-disseminating-a-terrorist-publication" value="offence-disseminating-a-terrorist-publication" type="checkbox" />
    </div>

</fieldset>