<fieldset class="ns_filter__control ns_filter__control--gender">
    <legend>By gender</legend>
    <div>
        <label for="ns_facewall__input--gender-female">Female</label>
        <input class="ns_facewall__input ns_facewall__input--gender-female" value="gender-female" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--gender-male">Male</label>
        <input class="ns_facewall__input ns_facewall__input--gender-male" value="gender-male" type="checkbox" />
    </div>
</fieldset>