
<fieldset class="ns_filter__control ns_filter__control--age ns_filter__control--active">
    <legend>By age</legend>
    <div>
        <label for="ns_facewall__input--age-0">15-20</label>
        <input id="ns_facewall__input--age-0" class="ns_facewall__input ns_facewall__input--age-15-20" value="age-15-20" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--age-1">21-25</label>
        <input id="ns_facewall__input--age-1" class="ns_facewall__input ns_facewall__input--age-21-25" value="age-21-25" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--age-2">26-30</label>
        <input id="ns_facewall__input--age-2" class="ns_facewall__input ns_facewall__input--age-26-30" value="age-26-30" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--age-3">30+</label>
        <input id="ns_facewall__input--age-3" class="ns_facewall__input ns_facewall__input--age-30" value="age-30" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--age-unknown">Unknown</label>
        <input id="ns_facewall__input--age-unknown" class="ns_facewall__input ns_facewall__input--age-unknown" value="age-unknown" type="checkbox" />
    </div>
</fieldset>