<fieldset class="ns_filter__control ns_filter__control--offence ns_filter__control--active">
    <legend>By offence</legend>
    <div>
        <label for="ns_facewall__input--offence-arranging-meetings-to-support-a-proscribed-organisation">Arranging meetings to support a proscribed organisation</label>
        <input class="ns_facewall__input ns_facewall__input--offence-arranging-meetings-to-support-a-proscribed-organisation" value="offence-arranging-meetings-to-support-a-proscribed-organisation" id="ns_facewall__input--offence-arranging-meetings-to-support-a-proscribed-organisation" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-assisting-an-offender">Assisting an offender</label>
        <input class="ns_facewall__input ns_facewall__input--offence-assisting-an-offender" value="offence-assisting-an-offender" id="ns_facewall__input--offence-assisting-an-offender" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-attempted-murder">Attempted murder</label>
        <input class="ns_facewall__input ns_facewall__input--offence-attempted-murder" value="offence-attempted-murder" id="ns_facewall__input--offence-attempted-murder" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-attempted-wounding">Attempted wounding</label>
        <input class="ns_facewall__input ns_facewall__input--offence-attempted-wounding" value="offence-attempted-wounding" id="ns_facewall__input--offence-attempted-wounding"type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-attempting-to-posess-ammunition">Attempting to possess ammunition</label>
        <input class="ns_facewall__input ns_facewall__input--offence-attempting-to-posess-ammunition" value="offence-attempting-to-posess-ammunition" id="ns_facewall__input--offence-attempting-to-posess-ammunition"type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-attending-a-camp">Attending a camp</label>
        <input class="ns_facewall__input ns_facewall__input--offence-attending-a-camp" value="offence-attending-a-camp" id="ns_facewall__input--offence-attending-a-camp" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-child-abduction">Child abduction</label>
        <input class="ns_facewall__input ns_facewall__input--offence-child-abduction" value="offence-child-abduction" id="ns_facewall__input--offence-child-abduction" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-conspiracy-to-attend-terrorism-training-camp">Conspiracy to attend terrorism training camp</label>
        <input class="ns_facewall__input ns_facewall__input--offence-conspiracy-to-attend-terrorism-training-camp" value="offence-conspiracy-to-attend-terrorism-training-camp" id="ns_facewall__input--offence-conspiracy-to-attend-terrorism-training-camp" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-conspiracy-to-murder">Conspiracy to murder</label>
        <input class="ns_facewall__input ns_facewall__input--offence-conspiracy-to-murder" value="offence-conspiracy-to-murder" id="ns_facewall__input--offence-conspiracy-to-murder" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-disseminating-a-terrorist-publication">Disseminating a terrorist publication</label>
        <input class="ns_facewall__input ns_facewall__input--offence-disseminating-a-terrorist-publication" value="offence-disseminating-a-terrorist-publication" id="ns_facewall__input--offence-disseminating-a-terrorist-publication" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-encouraging-support-for-a-proscribed-organisation">Encouraging support for a proscribed organisation</label>
        <input class="ns_facewall__input ns_facewall__input--offence-encouraging-support-for-a-proscribed-organisation" value="offence-encouraging-support-for-a-proscribed-organisation" id="ns_facewall__input--offence-encouraging-support-for-a-proscribed-organisation" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-encouraging-terrorism">Encouraging terrorism</label>
        <input class="ns_facewall__input ns_facewall__input--offence-encouraging-terrorism" value="offence-encouraging-terrorism" id="ns_facewall__input--offence-encouraging-terrorism" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-failing-to-disclose-information">Failing to disclose information</label>
        <input class="ns_facewall__input ns_facewall__input--offence-failing-to-disclose-information" value="offence-failing-to-disclose-information" id="ns_facewall__input--offence-failing-to-disclose-information" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-funding-terrorism">Funding terrorism</label>
        <input class="ns_facewall__input ns_facewall__input--offence-funding-terrorism" value="offence-funding-terrorism" id="ns_facewall__input--offence-funding-terrorism" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-inciting-terrorism-overseas">Inciting terrorism overseas</label>
        <input class="ns_facewall__input ns_facewall__input--offence-inciting-terrorism-overseas" value="offence-inciting-terrorism-overseas" id="ns_facewall__input--offence-inciting-terrorism-overseas" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-information-about-acts-of-terrorism">Information about acts of terrorism</label>
        <input class="ns_facewall__input ns_facewall__input--offence-information-about-acts-of-terrorism" value="offence-information-about-acts-of-terrorism" id="ns_facewall__input--offence-information-about-acts-of-terrorism" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-inviting-support-for-a-proscribed-organisation">Inviting support for a proscribed organisation</label>
        <input class="ns_facewall__input ns_facewall__input--offence-inviting-support-for-a-proscribed-organisation" value="offence-inviting-support-for-a-proscribed-organisation" id="ns_facewall__input--offence-inviting-support-for-a-proscribed-organisation" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-membership-of-a-proscribed-organisation">Membership of a proscribed organisation</label>
        <input class="ns_facewall__input ns_facewall__input--offence-membership-of-a-proscribed-organisation" value="offence-membership-of-a-proscribed-organisation" type="checkbox" id="ns_facewall__input--offence-membership-of-a-proscribed-organisation">
    </div>
    <div>
        <label for="ns_facewall__input--offence-murder">Murder</label>
        <input class="ns_facewall__input ns_facewall__input--offence-murder" value="offence-murder" type="checkbox" id="ns_facewall__input--offence-murder">
    </div>
    <div>
        <label for="ns_facewall__input--offence-possessing-a-firearm-with-intent-to-endanger-life">Possessing a firearm with intent to endanger life</label>
        <input class="ns_facewall__input ns_facewall__input--offence-possessing-a-firearm-with-intent-to-endanger-life" value="offence-possessing-a-firearm-with-intent-to-endanger-life" type="checkbox" id="ns_facewall__input--offence-possessing-a-firearm-with-intent-to-endanger-life" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-possessing-firearms">Possessing firearms</label>
        <input class="ns_facewall__input ns_facewall__input--offence-possessing-firearms" value="offence-possessing-firearms" id="ns_facewall__input--offence-possessing-firearms" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-possession-of-false-identity-documents">Possession of false identity documents</label>
        <input class="ns_facewall__input ns_facewall__input--offence-possession-of-false-identity-documents" value="offence-possession-of-false-identity-documents" type="checkbox" id="ns_facewall__input--offence-possession-of-false-identity-documents" />
    </div>
    <div>
        <label for="ns_facewall__input--offence-possessing-information-of-a-kind-likely-to-be-useful-to-a-terrorist">Possessing information of a kind likely to be useful to a terrorist</label>
        <input class="ns_facewall__input ns_facewall__input--offence-possessing-information-of-a-kind-likely-to-be-useful-to-a-terrorist" value="offence-possessing-information-of-a-kind-likely-to-be-useful-to-a-terrorist" id="ns_facewall__input--offence-possessing-information-of-a-kind-likely-to-be-useful-to-a-terrorist" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-possession-of-an-identity-document-with-intent">Possession of an identity document with intent</label>
        <input class="ns_facewall__input ns_facewall__input--offence-possession-of-an-identity-document-with-intent" value="offence-possession-of-an-identity-document-with-intent" type="checkbox" id="ns_facewall__input--offence-possession-of-an-identity-document-with-intent">
    </div>
    <div>
        <label for="ns_facewall__input--offence-possession-of-documents-useful-to-committing-an-act-of-terrorism">Possession of documents useful to committing an act of terrorism</label>
        <input class="ns_facewall__input ns_facewall__input--offence-possession-of-documents-useful-to-committing-an-act-of-terrorism" value="offence-possession-of-documents-useful-to-committing-an-act-of-terrorism" id="ns_facewall__input--offence-possession-of-documents-useful-to-committing-an-act-of-terrorism" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-preparing-for-acts-of-terrorism">Preparing for acts of terrorism</label>
        <input class="ns_facewall__input ns_facewall__input--offence-preparing-for-acts-of-terrorism" value="offence-preparing-for-acts-of-terrorism" id="ns_facewall__input--offence-preparing-for-acts-of-terrorism" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-promoting-and-inciting-terrorism">Promoting and inciting terrorism</label>
        <input class="ns_facewall__input ns_facewall__input--offence-promoting-and-inciting-terrorism" value="offence-promoting-and-inciting-terrorism" id="ns_facewall__input--offence-promoting-and-inciting-terrorism" type="checkbox">
    </div>
    <div>
        <label for="ns_facewall__input--offence-receiving-training">Receiving training</label>
        <input class="ns_facewall__input ns_facewall__input--offence-receiving-training" value="offence-receiving-training" type="checkbox" id="ns_facewall__input--offence-receiving-training">
    </div>
    <div>
        <label for="ns_facewall__input--offence-wounding-with-intent-to-cause-grievous-bodily-harm">Wounding with intent to cause grievous bodily harm</label>
        <input class="ns_facewall__input ns_facewall__input--offence-wounding-with-intent-to-cause-grievous-bodily-harm" value="offence-wounding-with-intent-to-cause-grievous-bodily-harm" type="checkbox" id="ns_facewall__input--offence-wounding-with-intent-to-cause-grievous-bodily-harm" />
    </div>

</fieldset>
