<fieldset class="ns_filter__control ns_filter__control--group">
    <legend>By Jihadist group</legend>
    <div>
        <label for="ns_facewall__input--group-0">IS</label>
        <input class="ns_facewall__input ns_facewall__input--group-is" value="group-is" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--group-1">Nusra Front</label>
        <input class="ns_facewall__input ns_facewall__input--group-nusra-front" value="group-nusra-front" type="checkbox" />
    </div>
    <div>
        <label for="ns_facewall__input--group-4">Unknown</label>
        <input class="ns_facewall__input ns_facewall__input--group-unknown" value="group-unknown" type="checkbox" />
    </div>
</fieldset>