
    <li id="ns_facewall--0" class="ns_facewall__item ns_facewall__item--age-15-20">
        <a class="ns_facewall__thumb ns_facewall__thumb--0" href="#ns_facewall--0">David Steven Brown</a>
        <div class="ns_facewall__content">
            <h2 class="ns_facewall__name">David Steven Brown</h2>
            <span class="ns_facewall__age">25</span>
            <p class="ns_facewall__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy\'s love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
            <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
        </div>
    </li>
    <li id="ns_facewall--1" class="ns_facewall__item">
        <a class="ns_facewall__thumb ns_facewall__thumb--1" href="#ns_facewall--1">David Steven Brown</a>
        <div class="ns_facewall__content">
            <h2 class="ns_facewall__name">David Steven Brown</h2>
            <span class="ns_facewall__age">25</span>
            <p class="ns_facewall__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy\'s love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
            <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
        </div>
    </li>
    <li id="ns_facewall--2" class="ns_facewall__item">
        <a class="ns_facewall__thumb ns_facewall__thumb--2" href="#ns_facewall--2">David Steven Brown</a>
        <div class="ns_facewall__content">
            <h2 class="ns_facewall__name">David Steven Brown</h2>
            <span class="ns_facewall__age">25</span>
            <p class="ns_facewall__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy\'s love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
            <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
        </div>
    </li>
    <li id="ns_facewall--3" class="ns_facewall__item">
        <a class="ns_facewall__thumb ns_facewall__thumb--3" href="#ns_facewall--3">David Steven Brown</a>
        <div class="ns_facewall__content">
            <h2 class="ns_facewall__name">David Steven Brown</h2>
            <span class="ns_facewall__age">25</span>
            <p class="ns_facewall__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy\'s love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
            <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
        </div>
    </li>
    <li id="ns_facewall--4" class="ns_facewall__item">
        <a class="ns_facewall__thumb ns_facewall__thumb--4" href="#ns_facewall--4">David Steven Brown</a>
        <div class="ns_facewall__content">
            <h2 class="ns_facewall__name">David Steven Brown</h2>
            <span class="ns_facewall__age">25</span>
            <p class="ns_facewall__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy\'s love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
            <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
        </div>
    </li>
    <li id="ns_facewall--5" class="ns_facewall__item">
        <a class="ns_facewall__thumb ns_facewall__thumb--5" href="#ns_facewall--5">David Steven Brown</a>
        <div class="ns_facewall__content">
            <h2 class="ns_facewall__name">David Steven Brown</h2>
            <span class="ns_facewall__age">25</span>
            <p class="ns_facewall__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy\'s love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
            <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
        </div>
    </li>
    <li id="ns_facewall--6" class="ns_facewall__item">
        <a class="ns_facewall__thumb ns_facewall__thumb--6" href="#ns_facewall--6">David Steven Brown</a>
        <div class="ns_facewall__content">
            <h2 class="ns_facewall__name">David Steven Brown</h2>
            <span class="ns_facewall__age">25</span>
            <p class="ns_facewall__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy\'s love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
            <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
        </div>
    </li>
    <li id="ns_facewall--7" class="ns_facewall__item">
        <a class="ns_facewall__thumb ns_facewall__thumb--7" href="#ns_facewall--7">David Steven Brown</a>
        <div class="ns_facewall__content">
            <h2 class="ns_facewall__name">David Steven Brown</h2>
            <span class="ns_facewall__age">25</span>
            <p class="ns_facewall__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy\'s love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
            <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
        </div>
    </li>
    <li id="ns_facewall--8" class="ns_facewall__item">
        <a class="ns_facewall__thumb ns_facewall__thumb--8" href="#ns_facewall--8">David Steven Brown</a>
        <div class="ns_facewall__content">
            <h2 class="ns_facewall__name">David Steven Brown</h2>
            <span class="ns_facewall__age">25</span>
            <p class="ns_facewall__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy\'s love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
            <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
        </div>
    </li>
    <li id="ns_facewall--9" class="ns_facewall__item">
        <a class="ns_facewall__thumb ns_facewall__thumb--9" href="#ns_facewall--9">David Steven Brown</a>
        <div class="ns_facewall__content">
            <h2 class="ns_facewall__name">David Steven Brown</h2>
            <span class="ns_facewall__age">25</span>
            <p class="ns_facewall__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy\'s love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
            <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
        </div>
    </li>
    <li id="ns_facewall--10" class="ns_facewall__item">
        <a class="ns_facewall__thumb ns_facewall__thumb--10" href="#ns_facewall--10">David Steven Brown</a>
        <div class="ns_facewall__content">
            <h2 class="ns_facewall__name">David Steven Brown</h2>
            <span class="ns_facewall__age">25</span>
            <p class="ns_facewall__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy\'s love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
            <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
        </div>
    </li>
    <li id="ns_facewall--11" class="ns_facewall__item">
        <a class="ns_facewall__thumb ns_facewall__thumb--11" href="#ns_facewall--11">David Steven Brown</a>
        <div class="ns_facewall__content">
            <h2 class="ns_facewall__name">David Steven Brown</h2>
            <span class="ns_facewall__age">25</span>
            <p class="ns_facewall__profile">Steven Brown, as he was known, was a machine operator from Wrexham and a Liverpool FC season ticket holder. He went to Hillsborough with his brother, Andrew Brown, who survived. He met his wife, Sarah when he was just 16:  she was six months pregnant when he died. Their daughter was called Samantha, a name Steven chose. &quot;I have tried to shower her with her daddy\'s love, which I know would have flown in abundance,&quot; Sarah told the inquest.</p>
            <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26930233" target="ns__linkout">Full story (opens in a new browser window)</a>
        </div>
    </li>
