
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-dewsbury ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--110" href="#ns_facewall--110"><span>Hassan Munshi</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Hassan Munshi</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-dewsbury ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--111" href="#ns_facewall--111"><span>Talha Asmal</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Talha Asmal</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-london ns_facewall__item--gender-female ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--97" href="#ns_facewall--97"><span>Amira Abase</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Amira Abase</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-london ns_facewall__item--gender-female ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--99" href="#ns_facewall--99"><span>Khadiza Sultana</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Khadiza Sultana</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-london ns_facewall__item--gender-female ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--101" href="#ns_facewall--101"><span>Shamima Begum</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Shamima Begum</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-london ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--109" href="#ns_facewall--109"><span>Zubair Nur</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Zubair Nur</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-london ns_facewall__item--gender-female ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--104"><span>Sharmeena Begum</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Sharmeena Begum</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-bristol ns_facewall__item--gender-female ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--9" href="#ns_facewall--9"><span>Yusra Hussien</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Yusra Hussien</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-30 ns_facewall__item--hometown-london ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--26" href="#ns_facewall--26"><span>Siddhartha Dhar</span><span>Age: age-30</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Siddhartha Dhar</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-london ns_facewall__item--gender-female ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--27"><span>Samya Dirie</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Samya Dirie</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-manchester ns_facewall__item--gender-female ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--35" href="#ns_facewall--35"><span>Zahra Halane</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Zahra Halane</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-manchester ns_facewall__item--gender-female ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--36" href="#ns_facewall--36"><span>Salma Halane</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Salma Halane</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-unknown ns_facewall__item--hometown-london ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--58" href="#ns_facewall--58"><span>Hamzah Parvez</span><span>Age: age-unknown</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Hamzah Parvez</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-birmingham ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--2" href="#ns_facewall--2"><span>Junaid Hussain</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Junaid Hussain</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-coventry ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--106" href="#ns_facewall--106"><span>Mohammed Ismail</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Mohammed Ismail</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-30 ns_facewall__item--hometown-luton ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--29" href="#ns_facewall--29"><span>Abu Aziz</span><span>Age: age-30</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Abu Aziz</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-unknown ns_facewall__item--hometown-unknown ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--30"><span>Mohammod Alom</span><span>Age: age-unknown</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Mohammod Alom</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-cardiff ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--10" href="#ns_facewall--10"><span>Aseel Muthana</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Aseel Muthana</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-26-30 ns_facewall__item--hometown-high-wycombe ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--98" href="#ns_facewall--98"><span>Omar Hussain</span><span>Age: age-26-30</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Omar Hussain</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-high-wycombe ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--23" href="#ns_facewall--23"><span>Shabazz Suleman</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Shabazz Suleman</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-26-30 ns_facewall__item--hometown-high-wycombe ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--24" href="#ns_facewall--24"><span>Hisham Folkard</span><span>Age: age-26-30</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Hisham Folkard</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-21-25 ns_facewall__item--hometown-manchester ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--103"><span>Nur Hassan</span><span>Age: age-21-25</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Nur Hassan</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-glasgow ns_facewall__item--gender-female ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--22" href="#ns_facewall--22"><span>Aqsa Mahmood</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Aqsa Mahmood</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-brighton ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--8" href="#ns_facewall--8"><span>Amer Deghayes</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Amer Deghayes</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-21-25 ns_facewall__item--hometown-portsmouth ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--48"><span>Assad Uzzaman</span><span>Age: age-21-25</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Assad Uzzaman</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-manchester ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--32"><span>Mohammad Azzam Javeed</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Mohammad Azzam Javeed</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-26-30 ns_facewall__item--hometown-london ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--42" href="#ns_facewall--42"><span>Aine Davis</span><span>Age: age-26-30</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Aine Davis</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-21-25 ns_facewall__item--hometown-manchester ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--34"><span>Raphael Hostey</span><span>Age: age-21-25</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Raphael Hostey</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-26-30 ns_facewall__item--hometown-london ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--silhouette" href="#ns_facewall--100"><span>Jafar Turay</span><span>Age: age-26-30</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Jafar Turay</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-26-30 ns_facewall__item--hometown-london ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--102" href="#ns_facewall--102"><span>Mohammed Emwazi</span><span>Age: age-26-30</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Mohammed Emwazi</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-17-20 ns_facewall__item--hometown-cardiff ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--11" href="#ns_facewall--11"><span>Nasser Muthana</span><span>Age: age-17-20</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Nasser Muthana</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-21-25 ns_facewall__item--hometown-cardiff ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--12" href="#ns_facewall--12"><span>Reyaad Khan</span><span>Age: age-21-25</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Reyaad Khan</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-unknown ns_facewall__item--hometown-chatham ns_facewall__item--gender-female ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--13" href="#ns_facewall--13"><span>Sally Jones</span><span>Age: age-unknown</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Sally Jones</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-21-25 ns_facewall__item--hometown-london ns_facewall__item--gender-male ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--41" href="#ns_facewall--41"><span>Abdel-Majed Abdel Bary</span><span>Age: age-21-25</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Abdel-Majed Abdel Bary</span>
        </div>
    </li>
    <li class="ns_facewall__item ns_facewall__item--age-21-25 ns_facewall__item--hometown-london ns_facewall__item--gender-female ns_facewall__item--filtered">
        <a class="ns_facewall__thumb ns_facewall__thumb--107" href="#ns_facewall--107"><span>Grace Dare</span><span>Age: age-21-25</span></a>
        <div class="ns_facewall__tooltip">
            <span class="ns_facewall__tooltipname">Grace Dare</span>
        </div>
    </li>