
    <li id="ns_facewall--110" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Hassan Munshi</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--110"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 17</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Dewsbury</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Along with his close friend Talha Asmal, the teenager left the UK during the Easter break. The boys were last seen by their families on 31 March 2015 and are believed to have flown to Turkey from Manchester. Assistant Chief Constable Mark Milsom, of West Yorkshire Police, said: "The choice of returning home from Syria is often taken away from those that come under the control of Islamic State, leaving their families in the UK devastated."</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-leeds-32232012" target="ns__linkout">Photographs issued of 'Syria-bound' Dewsbury teenagers</a>
    </li>
    <li id="ns_facewall--97" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Amira Abase</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--97"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 15</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Bethnal Green Academy pupils Shamima Begum and Amira Abase, both 15, and Kadiza Sultana, 16, travelled to Istanbul in February after telling their parents they were going out for the day. Police believe they have crossed the border into Syria. Mobile phone footage released to the media shows this was with the help of a people smuggler who is alleged to have worked for Canadian intelligence. The three girls had been studying for their GCSEs at the school in Tower Hamlets - where they have been described as "straight-A students". They followed in the footsteps of their school friend, Sharmeena Begum who the Metropolitan Police say left the UK at the end of last year.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-31853002" target="ns__linkout">Syria girls: Man arrested 'for helping British trio'</a>
    </li>
    <li id="ns_facewall--99" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Khadiza Sultana</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--99"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 16</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Bethnal Green Academy pupils Shamima Begum and Amira Abase, both 15, and Kadiza Sultana, 16, travelled to Istanbul in February after telling their parents they were going out for the day. Police believe they have crossed the border into Syria. Mobile phone footage released to the media shows this was with the help of a people smuggler who is alleged to have worked for Canadian intelligence. The three girls had been studying for their GCSEs at the school in Tower Hamlets - where they have been described as "straight-A students". They followed in the footsteps of their school friend, Sharmeena Begum who the Metropolitan Police say left the UK at the end of last year.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-31853002" target="ns__linkout">Syria girls: Man arrested 'for helping British trio'</a>
    </li>
    <li id="ns_facewall--101" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Shamima Begum</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--101"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 15</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Bethnal Green Academy pupils Shamima Begum and Amira Abase, both 15, and Kadiza Sultana, 16, travelled to Istanbul in February after telling their parents they were going out for the day. Police believe they have crossed the border into Syria. Mobile phone footage released to the media shows this was with the help of a people smuggler who is alleged to have worked for Canadian intelligence. The three girls had been studying for their GCSEs at the school in Tower Hamlets - where they have been described as "straight-A students". They followed in the footsteps of their school friend, Sharmeena Begum who the Metropolitan Police say left the UK at the end of last year.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-31853002" target="ns__linkout">Syria girls: Man arrested 'for helping British trio'</a>
    </li>
    <li id="ns_facewall--109" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Zubair Nur</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--109"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 19</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">A student of petroleum geology at Royal Holloway, University of London, believed to have abandoned his studies to travel to Syria. His family reported him missing to the police in January 2015.</p>
        
    </li>
    <li id="ns_facewall--104" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Sharmeena Begum</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--silhouette"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 15</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">The first of a group of four school friends who left their homes in East London to travel to Syria. The 15-year-old was studying for her GCSEs when she flew out to Turkey in early December 2014. Her father, Mohammad Uddin, told the Daily Mail he believed his daughter had been targeted over the internet by IS recruiters.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-31886146" target="ns__linkout">Syria girls: First missing London schoolgirl named</a>
    </li>
    <li id="ns_facewall--9" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Yusra Hussien</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--9"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 15</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Bristol</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Left the UK with Samya Dirie. Her family in Bristol told the media they feared she had been "brainwashed or radicalised" online. Her friends have told the BBC she got married soon after arriving in Syria although there has been no official confirmation that she and Samya Dirie are there.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-bristol-29438904" target="ns__linkout">Missing Yusra Hussien: Family appeal over Syria case teenager</a>
    </li>
    <li id="ns_facewall--26" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Siddhartha Dhar</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--26"></span>
        <h3 class="ns_facewall__alias">Also known as: Abu Rumaysah</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 31</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Dhar, who is a Hindu convert to Islam, fled the UK in November 2014 while he was on police bail during an investigation into alleged membership of a banned organisation. He is an outspoken supporter of the extremist cleric Anjem Choudary. According to court papers, he used a passport he was supposed to have surrendered to travel with his wife and four children by coach from London to Paris and then onwards eventually to Syria. From there, he has posted online statements under his alias Abu Rumaysah taunting the security services as “shoddy” as well as showing off an infant he claimed was his newborn son.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-london-30215897" target="ns__linkout">Terror suspect Abu Rumaysah posts image of baby</a>
    </li>
    <li id="ns_facewall--27" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Samya Dirie</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--silhouette"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 17</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">The teenager from Stockwell is believed to have travelled to Syria in late September 2014 with 15-year-old Yusra Hussien from Bristol. She told her parents that she was going to visit a college on the day, but when her mother discovered her passport was missing, the family notified police. Appealing to his daughter through the media her father, Abidirashiid Saciid Dirie said: "You are after paradise by going there, but you will achieve paradise by pleasing your parents."</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-29515336" target="ns__linkout">Father appeals for return of missing Samya Dirie</a>
    </li>
    <li id="ns_facewall--35" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Zahra Halane</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--35"></span>
        <h3 class="ns_facewall__alias">Also known as: Umm Jaafar Britaniyah, Omm Bakr</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 16</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Manchester</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Counter terrorism police in Manchester say she left her home in Manchester to go to Syria with her twin sister, Salma in June 2014. It is believed their older brother Ahmed is also fighting jihad. Zahra married British fighter Ali Kalantar, claiming in an online message that he had been killed in Iraq in December 2014. She has been an active advocate of Islamic State, posting supportive diatribes as well as documenting her life in Syria.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-manchester-28230931" target="ns__linkout">Zahra and Salma Halane: Missing twins 'now in Syria'</a>
    </li>
    <li id="ns_facewall--36" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Salma Halane</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--36"></span>
        <h3 class="ns_facewall__alias">Also known as: Umm Handla Britaniyah, Umm Adam Britaniyah</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 16</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Manchester</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Like her twin sister she also married a foreign fighter who was then killed fighting for IS. She has been an active user of social media to promote and support the Islamic State. Among her most recent posts were images showing a group of women training with weapons in Raqqa.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-manchester-28230931" target="ns__linkout">Zahra and Salma Halane: Missing twins 'now in Syria'</a>
    </li>
    <li id="ns_facewall--58" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Hamzah Parvez</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--58"></span>
        <h3 class="ns_facewall__alias">Also known as: Abu Hamzah al-Pakistani</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: Unconfirmed</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">A London hotel worker who told ITV News in August 2014 that he had gone to fight with IS in Iraq. His family said they felt betrayed by his actions. Parvez said he had travelled with his friend, Mohammed Nasser who, he said, had recently died.</p>
        
    </li>
    <li id="ns_facewall--2" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Junaid Hussain</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--2"></span>
        <h3 class="ns_facewall__alias">Also known as: Abu Hussain al Britani</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 20</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Birmingham</span>
        
        <p class="ns_facewall__profile portrait__atrribute">A computer hacker from Birmingham who was convicted for illegally accessing the address book of former Prime Minister Tony Blair. Hussain reportedly fled to Syria in early 2013 while on bail pending an investigation into an allegation of violent disorder which was eventually dropped. He has been active on social media urging people to travel to the region to fight.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-27915533" target="ns__linkout">UK extremists 'skip bail to fight in Syria'</a>
    </li>
    <li id="ns_facewall--106" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Mohammed Ismail</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--106"></span>
        <h3 class="ns_facewall__alias">Also known as: Abu Yahya al Kurdy</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 19</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Coventry</span>
        
        <p class="ns_facewall__profile portrait__atrribute">One of three friends from Coventry who travelled to Syria in March 2014 to fight with IS. He is the only survivor of the group. Another friend from Coventry is facing prosecution for allegedly trying to join them.</p>
        
    </li>
    <li id="ns_facewall--29" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Abu Aziz</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--29"></span>
        <h3 class="ns_facewall__alias">Also known as: Abu Abdullah Britani</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 32</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Luton</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Another vocal supporter of Anjem Choudary, Abu Aziz also fled the UK while he was on bail. He was convicted at the Old Bailey in his absence of affray, having left his home in Luton in March 2014. An active social media user, Aziz has vigorously promoted IS and his extremist views, despite having his account repeatedly deleted or suspended.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-27911081" target="ns__linkout">Pair under Police investigation skip bail 'to fight in Syria'</a>
    </li>
    <li id="ns_facewall--30" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Mohammod Alom</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--silhouette"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: Unconfirmed</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Unknown</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Court papers reveal that he left the UK with his friend Abu Aziz in the spring of last year. The pair headed to Amsterdam before reportedly crossing into Syria from Turkey. His current whereabouts are unknown.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-27911081" target="ns__linkout">Pair under Police investigation skip bail 'to fight in Syria'</a>
    </li>
    <li id="ns_facewall--10" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Aseel Muthana</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--10"></span>
        <h3 class="ns_facewall__alias">Also known as: Abu Fariss</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 17</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Cardiff</span>
        
        <p class="ns_facewall__profile portrait__atrribute">He followed his older brother Nasser in travelling to Syria in early 2014. From there he told the BBC in an online interview: "I am willing to die but Allah knows the truth behind the words."</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-wales-28123696" target="ns__linkout">Jihadist Aseel Muthana describes life as terrorist</a>
    </li>
    <li id="ns_facewall--98" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Omar Hussain</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--98"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 27</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: High Wycombe</span>
        
        <p class="ns_facewall__profile portrait__atrribute">A former supermarket security guard from High Wycombe, Hussain appeared on Newsnight using the alias 'Awlaki' to defend IS beheadings following the killing of hostage James Foley. He has appeared in an IS propaganda video encouraging British Muslims to “rise up" and "cause terror in the hearts of infidel communities".</p>
        
    </li>
    <li id="ns_facewall--23" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Shabazz Suleman</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--23"></span>
        <h3 class="ns_facewall__alias">Also known as: Abu Shamil Khorasani</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 18</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: High Wycombe</span>
        
        <p class="ns_facewall__profile portrait__atrribute">The High Wycombe Grammar School student reportedly went to Syria to fight jihad last summer. The school confirmed the 18-year-old had travelled there as part of an aid convoy for a Turkish charity but friends denied he was engaged in acts of terrorism. Months later he was reported to have been part of a group of  IS fighters exchanged for Turkish hostages.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-29504924" target="ns__linkout">UK jihadist prisoner swap reports 'credible'</a>
    </li>
    <li id="ns_facewall--24" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Hisham Folkard</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--24"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 26</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: High Wycombe</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Whitehall sources have described as "credible" reports that he, along with Shabazz Suleman, was part of the prisoner exchange between IS and Turkey. A man believed to be Folkard has been pictured on social media displaying weapons.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-29504924" target="ns__linkout">UK jihadist prisoner swap reports 'credible'</a>
    </li>
    <li id="ns_facewall--103" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Nur Hassan</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--silhouette"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 21</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Manchester</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Having been stopped at the airport and having had his laptop seized by police, Hassan managed to leave the UK the next day in November 2013. He is a friend of Mohammed Javeed and Raphael Hostey. Court papers indicate he has not been heard of since he left the country. </p>
        
    </li>
    <li id="ns_facewall--22" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Aqsa Mahmood</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--22"></span>
        <h3 class="ns_facewall__alias">Also known as: Umm Layth</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 20</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Glasgow</span>
        
        <p class="ns_facewall__profile portrait__atrribute">The privately educated Glasgow student is a leading member of a prominent group of British women who have joined the Islamic State. She has been cited as an influential voice in helping persuade young women to cross into Syria though she recently denied to her parents she had encouraged three London schoolgirls to join her in Syria. After she had left the UK in the autumn of 2013, her heartbroken parents said: "If our daughter, who had all the chances and freedom in life, could become a bedroom radical, then it is possible for this to happen to any family."</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-scotland-glasgow-west-29082435" target="ns__linkout">Aqsa Mahmood's parents ask her to come home to Glasgow</a>
    </li>
    <li id="ns_facewall--8" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Amer Deghayes</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--8"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 20</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Brighton</span>
        
        <p class="ns_facewall__profile portrait__atrribute">The eldest of three brothers who travelled from their home in Brighton to Syria. He joined the al-Qaeda affiliated Jabhat al-Nusra and was wounded in the same battle in which his brother Abdullah, 18, died in April 2014. His other sibling, Jaffar was shot in the head during a gun battle six months later. Police searched the home of his father Abubaker who says he travelled to Turkey in an unsuccessful attempt to persuade his sons to come home.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-sussex-29954255" target="ns__linkout">Third Deghayes brother: 'I could return home from Syria'</a>
    </li>
    <li id="ns_facewall--48" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Assad Uzzaman</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--silhouette"></span>
        <h3 class="ns_facewall__alias">Also known as: Muhajir al Britani, Abu Abdullah al Britani</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 25</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Portsmouth</span>
        
        <p class="ns_facewall__profile portrait__atrribute">The only member of a group of Portsmouth friends who travelled to Syria and who has not been either killed or imprisoned. Kingston Crown Court heard how Uzzaman travelled with four others in October 2013, following Ifthekar Jaman who had encouraged them to join him. </p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-hampshire-29776937" target="ns__linkout">Portsmouth men killed in Syria were 'radicalised online'</a>
    </li>
    <li id="ns_facewall--32" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Mohammad Azzam Javeed</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--silhouette"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 20</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Manchester</span>
        
        <p class="ns_facewall__profile portrait__atrribute">He travelled from his home in Manchester to Syria in September 2013 with his fellow John Moores University student Anil Khalil Raoufi. They are believed to have met another college friend Raphael Hostey in Turkey, according to evidence heard in court. Javeed's trip was funded with money supplied by his older brother Jamshed who was convicted of attempting to travel to Syria to join the conflict with IS. The court was played harrowing audio recorded in the Javeed family home in which Jamshed's parents attempted to dissuade their son from joining his brother in Syria. Javeed’s friend Raoufi was killed in early 2014.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-26262832" target="ns__linkout"></a>
    </li>
    <li id="ns_facewall--42" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Aine Davis</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--42"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 30</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">A former drug dealer from west London with a conviction for possessing a firearm, Davis is one of a growing number of men who have gravitated from crime to violent extremism. He converted to Islam, calling himself Hamza. Court papers show he left for Syria in 2013. Months later, he asked his wife, Amal El-Wahabi, to arrange the delivery of cash to him in Turkey. Following her conviction for terrorist fundraising she was jailed for two years and four months in November 2014. The Old Bailey heard how she had tricked a friend into attempting to smuggle 20,000 euros (&pound;15,800) to Davis.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-30041625" target="ns__linkout">Woman jailed for funding Syria jihad</a>
    </li>
    <li id="ns_facewall--34" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Raphael Hostey</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--silhouette"></span>
        <h3 class="ns_facewall__alias">Also known as: Abu Qaqa Britani</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 22</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Manchester</span>
        
        <p class="ns_facewall__profile portrait__atrribute">This is Mohammed Javeed's friend who turned his back on a university career to join the jihad in Syria. Woolwich Crown Court heard how Hostey, a former student, is believed to still be there. This has led to reports claiming he is a British fighter using the identity Abu Qa’qa who was wounded in his first battle.</p>
        
    </li>
    <li id="ns_facewall--100" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Jafar Turay</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--silhouette"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 28</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Another convert to Islam, Turay changed his name from Joel Daley. The Old Bailey heard how, in June 2013, he made his way to Syria having fled the UK while he was being investigated over an alleged serious assault. Like Aine Davis, he drew his partner into acts of terrorism. Earlier this year, his girlfriend Hana Gul Khan was convicted of supplying him with &pound;1,000 to fund his jihadist activities. Like Aine Davis, his whereabouts in the region are not known. </p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-london-31595176" target="ns__linkout">Woman found guilty of helping to fund terrorism</a>
    </li>
    <li id="ns_facewall--102" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Mohammed Emwazi</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--102"></span>
        <h3 class="ns_facewall__alias">Also known as: Abu Muharib al-Yemeni, Abu Abdullah al-Britani</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 26</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Identified as the masked killer "Jihadi John", Kuwaiti-born Emwazi grew up in west London where he came to the attention of the security service MI5 as a result of his association with known extremists. He is thought to have gone to Syria in 2012. He came to prominence following his appearance in a number of IS videos in which hostages were beheaded. </p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-31641569" target="ns__linkout">Islamic State: Profile of Mohammed Emwazi aka 'Jihadi John'</a>
    </li>
    <li id="ns_facewall--11" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Nasser Muthana</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--11"></span>
        <h3 class="ns_facewall__alias">Also known as: Abu Muthanna al Yemeni</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 20</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Cardiff</span>
        
        <p class="ns_facewall__profile portrait__atrribute">The elder of two Cardiff brothers of Yemeni heritage, Nasser travelled to Syria with his friend Rayeed Khan in late 2013. Months later, the former medical student appeared in an IS propaganda video alongside Khan and Abdul Raqib Amin, another British fighter from Aberdeen. Calling himself Abu Muthanna al Yemeni, he says "fighting the enemies of Allah, you see no-one who does it like us. We are a state that is implementing Sharia in both Iraq and Sham (Syria)." His assets were later frozen by the Treasury.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-wales-south-east-wales-30078201" target="ns__linkout">Nasser Muthana's father denies son is in beheading video</a>
    </li>
    <li id="ns_facewall--12" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Reyaad Khan</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--12"></span>
        <h3 class="ns_facewall__alias">Also known as: Abu Dujana al Hindi</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 21</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Cardiff</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Nasser Muthana's friend from Cardiff who travelled with him to Syria. He appeared in the same IS video. Calling himself Abu Dujanah al Hindi he appeals to Muslims in the West, asking them: "What prevents you from obtaining martyrdom and the pleasure of your Lord? Look around you while you sit in comfort and ask yourself, is this how you want to die?"</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-27963675" target="ns__linkout">UK Syria fighters: Details continue to emerge</a>
    </li>
    <li id="ns_facewall--13" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Sally Jones</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--13"></span>
        <h3 class="ns_facewall__alias">Also known as: Umm Hussain Britaniyya</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: Unconfirmed</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: Chatham</span>
        
        <p class="ns_facewall__profile portrait__atrribute">The 44-year-old Muslim convert from Kent told the Times newspaper she had gone with her youngest son to the Middle East in late 2013 where she married Junaid Hussain, a British fighter from Birmingham. She explained she now calls herself Sakinah Hussain and blamed her militancy on the killing of Muslims during the Iraq war.</p>
        
    </li>
    <li id="ns_facewall--41" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Abdel-Majed Abdel Bary</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--41"></span>
        
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 23</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">Former rapper Lyricist Jinn, from west London, he was repeatedly wrongly identified as Jihadi John, until the latter was revealed as being Mohammed Emwazi. He is the son of Adel Abdel Bary, jailed for 25 years in America following his guilty plea of conspiring to kill people in the 1998 al-Qaeda attacks on US embassies in Kenya and Tanzania.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-england-london-28793067" target="ns__linkout">Maida Vale rapper 'fighting in Syria for Islamic State'</a>
    </li>
    <li id="ns_facewall--107" class="ns_facewall__portrait">
        <h2 class="ns_facewall__name">Grace Dare</h2>
        <span class="ns_facewall__potrait-img ns_facewall__potrait-img--107"></span>
        <h3 class="ns_facewall__alias">Also known as: Khadijah Dare</h3>
        <span class="ns_facewall__age portrait__atrribute">Age when left UK: 22</span>
        <span class="ns_facewall__dod portrait__atrribute">Home town: London</span>
        
        <p class="ns_facewall__profile portrait__atrribute">From a British-Nigerian background, she converted from Christianity to Islam when she was 18. Her mother told the BBC she had left the UK with her baby in 2013, claiming to be studying abroad. Instead, she went to Syria, where she soon married a Swedish fighter who has since died in the conflict.  From there, she has posted extremist material online.</p>
        <a class="ns_facewall__storylink" href="http://www.bbc.co.uk/news/uk-29507410" target="ns__linkout">Analysis: Why are Western women joining Islamic State?</a>
    </li>